.card:hover {
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(175, 14, 216);
    background: #fff;
    transform: scale(1.1); 
}

img{
    max-height:200px;
    min-height:200px;
}

.card{
    transition: transform .2s;

}